In [1]:
print("hello world")

hello world

In [3]:
print("Mary's cosmetics")

Mary's cosmetics

In [5]:
print('산타가 소리질렀다. "도둑이야"')

산타가 소리질렀다. "도둑이야"

In [6]:
print("C:\Windows")

C:\Windows

In [7]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [8]:
print ("오늘은", "일요일")

오늘은 일요일

In [9]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [11]:
print('naver','kakao','sk','samsung',sep = "/")

naver/kakao/sk/samsung

In [13]:
print("first",end = "")
print("second")

firstsecond

In [14]:
print(5/3)

1.6666666666666667

In [15]:
삼성전자 = 50000

print(10*삼성전자)

500000

In [16]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [19]:
s = "hello"
y = "python"

print(s+"! "+y)

hello! python

In [20]:
a="132"

print(type(a))

<class 'str'>

In [23]:
num_str = "720"

num_str = int(num_str)

In [24]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [25]:
string = "PYTHON"

print(string[::-1])

NOHTYP

In [28]:
phone_number = "010-1111-2222"

phone_number1 = phone_number.replace("-"," ")

print(phone_number1)

010 1111 2222

In [29]:
phone_number = "010-1111-2222"

phone_number1 = phone_number.replace("-","")

print(phone_number1)

01011112222

In [31]:
url = "http://sharebook.kr"

temp = url.split(".")

print(temp[-1])

kr

In [34]:
t1 = 'python'
t2 = 'java'

temp = t1 +" "+ t2

print(temp*4)

python javapython javapython javapython java

In [35]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름 : {name1} 나이 : {age1}")

이름 : 김민수 나이 : 10

In [36]:
상장주식수 = "5,969,782,550"

상장주식수 = 상장주식수.replace(",","")

상장주식수 = int(상장주식수)

print(상장주식수)

5969782550

In [38]:
ticker = "btc_krw"

ticker = ticker.upper()


print(ticker)

BTC_KRW

In [41]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx","xls"))

True

In [43]:
print(3 >= 4)

False

In [44]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

In [45]:
print(btc)

{'opening_price': '57280000', 'closing_price': '57122000', 'min_price': '56943000', 'max_price': '58368000', 'units_traded': '15445.38720396', 'acc_trade_value': '887503296165.0083', 'prev_closing_price': '57280000', 'units_traded_24H': '16359.44788898', 'acc_trade_value_24H': '939961542277.2473', 'fluctate_24H': '-95000', 'fluctate_rate_24H': '-0.17', 'date': '1703771752545'}